* {
  box-sizing: border-box;
}

:root {
  --primary-color: #845f3e;
  --secondary-color: #9f7641;
  --base-color: #bd9456;
  --bg-color: #e3d18a;
  --font-color: #333;
  --error-color: #bf4646;
  --white: #fff;
  --gap: 1rem;
  --small-gap: calc(var(--gap) / 2);
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}